<h2 mat-dialog-title>{{!edicao?'Criar nova':'Editar'}} Backlog</h2>
<form [formGroup]="formBacklog">
    <mat-card fxLayout="row" class="maximum backlog mb-3" fxLayoutGap="10px">
        <mat-card class="backlogItem">
            <mat-form-field appearance="fill">
                <mat-label>Título</mat-label>
                <input matInput formControlName="titulo">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Responsável</mat-label>
                <input matInput formControlName="responsavel">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Integrantes</mat-label>
                <input matInput formControlName="integrantes">
            </mat-form-field>
            <p>Criado Em: {{dataCriacao | date:'dd/MMM/yyyy'}}</p>
            <mat-form-field appearance="fill">
                <mat-label>Término Previsto</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dataTermino" (dateChange)="calculatePrazo()">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Prazo</mat-label>
                <input matInput formControlName="prazo">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Selecione o nivel de dificuldade</mat-label>
                <mat-select formControlName="dificuldade">
                    <mat-option value="Moderado">Tarefa moderada</mat-option>
                    <mat-option value="Médio">Tarefa media</mat-option>
                    <mat-option value="Dificil">Tarefa dificil</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Descrição</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Selecione um status</mat-label>
                <mat-select formControlName="status">
                    <mat-option [value]="null">
                        Selecione um projeto
                    </mat-option>
                    <mat-option *ngFor="let stat of status" [value]="stat">
                        {{stat}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="flex-start">
                <button mat-raised-button color="accent" (click)="print()">
                    <mat-icon>search</mat-icon>Salvar Backlog
                </button>
            </div>
        </mat-card>
    </mat-card>
</form>