.max{
    height: 70vh;
}
.maximum{
    max-height: 70vh;
}
mat-form-field{
    width:260px;
}
h3{
    margin:5px 5px 5px 5px;
    writing-mode:sideways-lr;
    background-color:bisque;
    color: black;
    border-radius:5px;
}

