.max{
    height: 70vh;
}
.maximum{
    max-height: 70vh;
}
mat-form-field{
    width:240px;
}
h3{
    margin:5px 5px 5px 5px;
    transform: rotate(270deg);
    background-color:bisque;
    color: black;
    border-radius:5px;
}

