.max{
    height: 70vh;
}
.maximum{
    overflow-y: auto;
    max-height: 70vh;
}
mat-form-field{
    width:240px;
}
h3{
    margin:5px 5px 5px 5px;
    transform: rotate(270deg);
    color: white;
    border-radius:5px;
}
.backlog{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
}

.title{
    background-color: #7b1fa2;
    width: 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.dificuldade{
    background-color: rgb(108, 255, 120);
    width: fit-content;
    padding: 2px;
    border-radius: 4px;
    p{
        color: black;
    }
}

.backlogItem{
    width: 125px !important;
    flex-shrink: 0;
    padding-top: 24px;
}

mat-card.maximum.backlog{

    padding-top: 150px !important;
    padding-bottom: 150px !important;
}