<div class="container max">
    <mat-accordion>
        <app-filtro></app-filtro>
    </mat-accordion>
    <mat-card fxLayout="column" class="maximum" fxLayoutGap="15px">
        <mat-card fxLayout="row" class="maximum backlog" fxLayoutGap="10px">
            <div class="title">
                <h3>Planejando</h3>
            </div>
            <mat-card class="backlogItem" (click)="openDialog(tarefa)" *ngFor="let tarefa of planejando">
                    <h4>{{tarefa.titulo}}</h4>
                <div class="dificuldade" fxLayout="column" fxLayoutAlign="center">
                    <p>
                        {{tarefa.dificuldade}}
                    </p>
                </div>
                <div fxLayout="row" fxLayoutAlign="end" class="mt-2">
                    <p>
                        {{tarefa.responsavel}}
                    </p>
                </div>
            </mat-card>
        </mat-card>
        <mat-card fxLayout="row" class="maximum backlog">
            <div class="title">
                <h3>Selecionado</h3>
            </div>
            <mat-card class="backlogItem" (click)="openDialog(tarefa)" *ngFor="let tarefa of selecionado">
                <h4>{{tarefa.titulo}}</h4>
            <div class="dificuldade" fxLayout="column" fxLayoutAlign="center">
                <p>
                    {{tarefa.dificuldade}}
                </p>
            </div>
            <div fxLayout="row" fxLayoutAlign="end" class="mt-2">
                <p>
                    {{tarefa.responsavel}}
                </p>
            </div>
        </mat-card>
        </mat-card>
        <mat-card fxLayout="row" class="maximum backlog">
            <div class="title">
                <h3>Executando</h3>
            </div>
            <mat-card class="backlogItem" (click)="openDialog(tarefa)" *ngFor="let tarefa of executando">
                <h4>{{tarefa.titulo}}</h4>
            <div class="dificuldade" fxLayout="column" fxLayoutAlign="center">
                <p>
                    {{tarefa.dificuldade}}
                </p>
            </div>
            <div fxLayout="row" fxLayoutAlign="end" class="mt-2">
                <p>
                    {{tarefa.responsavel}}
                </p>
            </div>
        </mat-card>
        </mat-card>
        <mat-card fxLayout="row" class="maximum backlog">
            <div class="title">
                <h3>Entregue</h3>
            </div>
            <mat-card class="backlogItem" (click)="openDialog(tarefa)" *ngFor="let tarefa of entregue">
                <h4>{{tarefa.titulo}}</h4>
            <div class="dificuldade" fxLayout="column" fxLayoutAlign="center">
                <p>
                    {{tarefa.dificuldade}}
                </p>
            </div>
            <div fxLayout="row" fxLayoutAlign="end" class="mt-2">
                <p>
                    {{tarefa.responsavel}}
                </p>
            </div>
        </mat-card>
        </mat-card>
    </mat-card>
</div>