<div class="container max">
    <mat-accordion>
        <mat-expansion-panel hideToggle class="maximum mb-4">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Parametros
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <button mat-raised-button color="accent">
                <mat-icon>search</mat-icon>Filtrar
            </button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle class="maximum mb-4">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Parametros
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <button mat-raised-button color="accent">
                <mat-icon>search</mat-icon>Filtrar
            </button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle class="maximum mb-4">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Parametros
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <button mat-raised-button color="accent">
                <mat-icon>search</mat-icon>Filtrar
            </button>
        </mat-expansion-panel>

    </mat-accordion>
</div>