<div class="content">

  <router-outlet></router-outlet>
 
  <!--
  <div style="text-align:center">
    <h2>
        Lista de Pessoas do arquivo json...
    </h2>
    <ul *ngFor="let item of tarefas">
       <li>
          <h3>ID:{{item.ID_tarefa}},Nome: {{item.Descricao}}</h3>
       </li>
    </ul>
    <h2>
      Lista de Sprints do arquivo json...
  </h2>
  <ul *ngFor="let item of execucoes">
     <li>
        <h3>ID:{{item.ID_pessoa}},Nome: {{item.ID_tarefa}}</h3>
     </li>
  </ul>
  -->

</div>