<h2 mat-dialog-title>Detalhes da Task</h2>
<form [formGroup]="formBacklog">
    <mat-card fxLayout="row" class="maximum backlog" fxLayoutGap="10px">
        <div class="title">
            <h3>Detalhes</h3>
        </div>
        <mat-card class="backlogItem">

            <mat-form-field>
                <mat-label>Selecione um status</mat-label>
                <mat-select formControlName="status">
                    <mat-option [value]="null">
                        Selecione um projeto
                    </mat-option>
                    <mat-option *ngFor="let stat of status" [value]="stat">
                        {{stat}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p>Criado Em: {{dataCriacao |date :'d/M/yy'}}</p>
            <p>Prazo: {{prazo}}</p>
        </mat-card>
    </mat-card>
    <mat-card fxLayout="row" class="maximum backlog" fxLayoutGap="10px">
        <div class="title">
            <h3>Descrição</h3>
        </div>
        <mat-card class="backlogItem">
            <mat-form-field appearance="fill">
                <mat-label>Descrição</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </mat-card>
    </mat-card>
    <mat-card fxLayout="row" class="maximum backlog" fxLayoutGap="10px">
        <div class="title">
            <h3>Histórico</h3>
        </div>
        <mat-card fxLayout="row no-wrap" fxLayoutAlign="center center">
            <P fxLayout="row no-wrap" fxLayoutAlign="center center">Criado em {{dataCriacao |date :'d/M/yy'}} : Daniel
                <mat-icon>arrow_right_alt</mat-icon>
            </P>
        </mat-card>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between" class="mt-3">
        <button mat-stroked-button color="warn" (click)="deleteBacklog()">
            <mat-icon>delete_outline</mat-icon> Excluir Item
        </button>
        <button mat-raised-button color="primary" (click)="sendBacklog()">
            <mat-icon>autorenew</mat-icon> Atualizar Item
        </button>
    </div>
</form>