<div class="container max">
    <mat-accordion>
        <app-filtro></app-filtro>
    </mat-accordion>
    <mat-card fxLayout="column" class="maximum" fxLayoutGap="15px">
        <mat-card fxLayout="row" class="maximum backlog" fxLayoutGap="10px" *ngFor="let sprint of sprintBacklog">
            <mat-card class="title">
                <h3>{{sprint.titulo}}</h3>
            </mat-card>
            <mat-card class="backlogItem" (click)="openDialog(artefato)" *ngFor="let artefato of sprint.artefatos">
                <h4>{{artefato.titulo}}</h4>
                <div class="dificuldade" fxLayout="column" fxLayoutAlign="center">
                    <p>
                        {{artefato.dificuldade}}
                    </p>
                </div>
                <div fxLayout="row" fxLayoutAlign="end" class="mt-2">
                    <p>
                        {{artefato.responsavel}}
                    </p>
                </div>
            </mat-card>
        </mat-card>
    </mat-card>
</div>