.max{
    height: 80vh;
}
.maximum{
    overflow-y: auto;
    max-height: 80vh;
}
mat-form-field{
    width:240px;
}
h3{
    margin:5px 5px 5px 5px;
    transform: rotate(270deg);
    color: white;
    border-radius:5px;
}
.backlog{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
}
h3{
    flex: none;
    height: 55px;
    width: 200px;
}

.title{
    background-color: #7b1fa2;
    width: 100px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    -webkit-line-clamp: 2;
}
.dificuldade{
    background-color: rgb(108, 255, 120);
    width: fit-content;
    padding: 2px;
    border-radius: 4px;
    p{
        color: black;
    }
}

.backlogItem{
    width: 125px !important;
    flex-shrink: 0;
}