<div class="container max">
    <div fxLayout="column" fxLayoutAlign="center center" class="max">
        <div fxLayout="row" fxLayoutAlign="center center" class="max">
            <mat-card fxLayout="column" class="maximum">
                <form [formGroup]="registerForm" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Senha</mat-label>
                        <input matInput type="password" formControlName="senha">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Confirmação de Senha</mat-label>
                        <input matInput type="password" formControlName="confirmarSenha">
                    </mat-form-field>
                    <div fxLayout="column" fxLayoutAlign="space-between">
                        <button mat-button color="accent" (click)="registerUser()">
                            Efetuar Registro
                        </button>
                        <button mat-button (click)="toLogin()">
                            Página de Login
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>